<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정 페이지</title>
</head>
<style>
    .layout{
        margin:100px auto;
        width:500px;
    }
    .layout > *{
        margin-top:10px;
        box-sizing:board-box
    }
    .layout form > *{
        margin-top:10px;
    }
    .layout form > input{
        width:100%;
    }
    .layout form > textarea{
        width:100%;
        height:200px;
    }
    .layout form > button{
        width:150px;
        height:30px;
        outline:none;
    }
</style>
<body>
<div class="layout">
  <form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <input type="text" name="title" th:value="${board.title}">
    <textarea style="resize: none;" name="content" th:text="${board.content}"></textarea>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>